:root {
  --surface-primary-color: #0096aa;
  --surface-helper-color: #02d8f5;

  --content-primary-color: #ffffff;
  --content-helper-color: #ebebeb;
  --content-gray-color: #515251;
}

html {
  /* 10 / 16 * 100 = 62.5% */
  font-size: 62.5%;
}

* {
  box-sizing: inherit;
  font-family: 'Inter', sans-serif;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.6rem;

  background-image: linear-gradient(
    90deg,
    var(--surface-primary-color),
    var(--surface-helper-color)
  );
}

.content {
  color: var(--content-primary-color);
  text-align: center;
}

.content .content__heading {
  font-size: 5.2rem;
  font-weight: 700;
  margin-bottom: 1rem;
}
.content .content__subheading {
  font-size: 2.8rem;
  font-weight: 400;
  text-transform: uppercase;
}

.button {
  width: 100vw;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2.4rem;
}
.button .button__link:link,
.button .button__link:visited {
  padding: 1rem 3.2rem;
  border-radius: 0.3rem;
  font-size: 1.6rem;
  font-weight: 600;
  color: var(--surface-primary-color);
  background-image: linear-gradient(
    90deg,
    var(--content-primary-color),
    var(--surface-helper-color)
  );
}
